@model BanSach.Models.Sach

@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid">
    <h1 class="mt-4">Tạo mới Sách </h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/Home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Tạo mới Sách</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="Sach">Về danh sách</a>
        </div>

        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @*<div class="form-group">
                            <label asp-for="Masach" class="control-label"></label>
                            <input asp-for="Masach" class="form-control" />
                            <span asp-validation-for="Masach" class="text-danger"></span>
                        </div>*@
                    <div class="form-group">
                        <label asp-for="Tuasach" class="control-label"></label>
                        <input asp-for="Tuasach" class="form-control" />
                        <span asp-validation-for="Tuasach" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Namxb" class="control-label"></label>
                        <input asp-for="Namxb" class="form-control" />
                        <span asp-validation-for="Namxb" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Soluong" class="control-label"></label>
                        <input asp-for="Soluong" class="form-control" />
                        <span asp-validation-for="Soluong" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Dongia" class="control-label"></label>
                        <input asp-for="Dongia" class="form-control" />
                        <span asp-validation-for="Dongia" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Manxb" class="control-label"></label>
                        <select asp-for="Manxb" class="form-control" asp-items="ViewBag.Manxb"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Matl" class="control-label"></label>
                        <select asp-for="Matl" class="form-control" asp-items="ViewBag.Matl"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Matg" class="control-label"></label>
                        <select asp-for="Matg" class="form-control" asp-items="ViewBag.Matg"></select>
                    </div>
                    @*<div class="form-group">
                            <label asp-for="Ghichu" class="control-label"></label>
                            <input asp-for="Ghichu" class="form-control" />
                            <span asp-validation-for="Ghichu" class="text-danger"></span>
                        </div>*@

                    <div class="form-group">
                        <label asp-for="Ghichu" class="control-label"></label>
                        <input type="file" name="file" />
                        <span asp-validation-for="Ghichu" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Tạo mới" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
