@model BanSach.Models.Sach

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Sach</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Masach" />
            <div class="form-group">
                <label asp-for="Tuasach" class="control-label"></label>
                <input asp-for="Tuasach" class="form-control" />
                <span asp-validation-for="Tuasach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Namxb" class="control-label"></label>
                <input asp-for="Namxb" class="form-control" />
                <span asp-validation-for="Namxb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soluong" class="control-label"></label>
                <input asp-for="Soluong" class="form-control" />
                <span asp-validation-for="Soluong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manxb" class="control-label"></label>
                <select asp-for="Manxb" class="form-control" asp-items="ViewBag.Manxb"></select>
                <span asp-validation-for="Manxb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Matl" class="control-label"></label>
                <select asp-for="Matl" class="form-control" asp-items="ViewBag.Matl"></select>
                <span asp-validation-for="Matl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Matg" class="control-label"></label>
                <select asp-for="Matg" class="form-control" asp-items="ViewBag.Matg"></select>
                <span asp-validation-for="Matg" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="Ghichu" class="control-label"></label>
                    <input asp-for="Ghichu" class="form-control" />
                    <span asp-validation-for="Ghichu" class="text-danger"></span>
                </div>*@

            <div class="form-group">
                <label asp-for="Ghichu" class="control-label"></label>
                <input type="hidden" asp-for="Ghichu" /><img src="~/images/@Html.DisplayFor(model => model.Ghichu)" class="img-thumbnail" width="50" />
                <input type="file" name="file" />
                <span asp-validation-for="Ghichu" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
